.filter {
    width: 325px;
}

.wrapper-filter .switchToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    cursor: pointer;
}

.wrapper-filter {
    padding-bottom: 1rem;
    border-bottom: 2px solid #0B0909;
}
.wrapper-filter .genderSwitchToggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.options {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.options label {
    display: inline-flex;
    gap: 1rem;
    font-weight: 300;
}

.options-colors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    gap: 1rem;

}

.color {
    width: 25px;
    height: 25px;
    border-radius: 1rem;
    cursor: pointer;
}
.black {
    background-color: #0B0909;
}

.white {
    background-color: #f3f3f4;
    border: 1px solid #0B0909;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.brown {
    background-color: #964B00;
}

.green {
    background-color: green;
}

.cream {
    background-color: #FFFDD0;
    border: 1px solid #0B0909;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}