
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 1rem;
}

.wrapper-header {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.wrapper-header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.wrapper-header a {
    display: inline-flex; /* make the icon and link have gap*/
    gap: 8px;  
    position: relative;
    text-decoration: none;
    color: #0B0909;
    font-weight: 500;
    letter-spacing: 0px;
    transition: letter-spacing 0.3s ease, color 0.3s ease;
}

.wrapper-header a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #0B0909;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.wrapper-header a:hover {
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.wrapper-header a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.middle-header span, .left-header span {
    margin-left: 6px;
}
.left-header span {
    font-weight: 500;
}
.middle-header span {
    font-weight: 300;
}
.middle-header {
  justify-self: center; 
}
.right-header {
    justify-self: end;
}
